/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2021, 7:38:03 PM
    Author     : Topsy
*/

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center {
    display: flex;
    display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0; }

/* Montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }

.grid-container{
    overflow: hidden;
    width: 100%;
    padding-bottom: 100px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.links{

    text-decoration: none;
}

.cards{
    margin-top:50px;
    margin-left: 500px;
    width: 23%;
    background:#713ABF;
    text-align: center;
    display:block;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 20px;
    float:left;
    transition: 0.5s;
}


.cards:hover{
    transform: translateY(-20px);

}
.card-title{
    font-family: "Garamond", Garamond, serif;
    text-align: center;
    color: #5A2E98;
}
.card-des{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
}
.card-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border:1px solid black;
    padding:10px;
    border-radius: 5px;
    color:white

}
.card-button:hover{
    background-color: white;
    color:black;
    transition: 0.5s;
    cursor:pointer;
}

.reading-svg{
    position:absolute;
    top:25%;
    left:85%;
    transform: translate(-50%,-50%);
    width:250px;
    height:250px;
}
.reading2-svg{
    position:absolute;  
    left:85%;
    top:90%;
    transform: translate(-50%,-50%);
    width:250px;
    height:250px;
}
.reading3-svg{
    position:absolute;
    top:25%;
    left:85%;
    transform: translate(-50%,-50%);
    width:250px;
    height:250px
}
.watching-svg{
    position:absolute;
    top:60%;
    right:70%;
    transform: translate(-50%,-50%);
    width:250px;
    height:250px;
}


.profile-pic-div{
    height: 150px;
    width: 150px;
    display:flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 17%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    overflow: hidden;
    /*    box-shadow: 0px 0px 5px 1px;*/
    box-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
    bottom: 830px;
}

.update-pic-div{
    height: 300px;
    width: 200px;
    display:flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 35%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    overflow: hidden;
    /*    box-shadow: 0px 0px 5px 1px;*/
    box-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
    margin-bottom: 10px;
}

#previewPhoto{
    height: 100%;
    width: 100%; 
}

#file{
    display: none;

}

#uploadBtn{
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    top:80%;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    background: #5A2E98;
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;

}

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }

img {
    max-width: 100%;
    height: auto; }

figure {
    margin: 0; }

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }

.clear {
    clear: both; }

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-color: #c7edff;
    background-position: center center;
}

.container {
    width: 620px;S
    position: relative;
    margin: 0 auto; }

.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; }

.form-group {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.loginhere-link{
    color:#49257B;
}
.loginhere-link:hover{
    color:#F4EFFA;
}
.form-title{
   color: #1b4b80;
}
.form-amount{
    color:#5A2E98;
    align-content: left;
}
.title-h1{
    color:#5A2E98;
    font-weight:lighter;
    padding-left: 50px;
    font-family: 'Oswald', sans-serif;


}
.title-h1-large{
    color: #1b4b80;
    font-weight:lighter;
    font-size: 350%;
    text-align: center;
    font-family: 'Oswald', sans-serif;


}
h1{
    font-weight:lighter;
    padding-left: 50px;
    font-family: 'Oswald', sans-serif;
}
.alt-color{
    color:#fff;
}
.main{
    padding-top: 50px
}
.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #713ABF; 

    background-color:#EBE3F6;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BAADCC;
    opacity: 1; /* Firefox */
}

.form-submit {
    width: 20%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: #1b4b80}

.form-submit:hover{
    background-color:  #5892d1;
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }

input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px; }

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }

.label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: #555; }

.term-service {
    color: #555; }

.loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 5px; }


.loginhere-link {
    font-weight: 700;
    color: #222; }

.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555; }

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%; } }
@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px; } }
.radio-labels{
    color:#5A2E98;
}

body:: -webkit-scrollbar{
    width: 0.25rem;

}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}


.verifyImage{
    margin:auto;
    width:200px;
    height:200px;
    border-radius:100px;
}
.verifyDesc{
    font-size: 18px;
    color: #1b4b80;
}
.center{
    margin-top: 10px;
    text-align: center;
}




/*# sourceMappingURL=style.css.map */
